In [1]:
import pandas as pd
import numpy as np
import csv
import scipy.stats as stats
from scipy.stats import sem, ttest_ind
#from spread import variance, standard_deviation, zipped_z_scores

In [2]:
crime_pop_df = pd.read_csv('crime_sides_pop.csv')

In [3]:
crime_pop_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Name', 'Pop_2010', 'Area', 'Side',
       'Crimes_Reported'],
      dtype='object')

In [4]:
total_crime = crime_pop_df['Crimes_Reported'].sum()

In [5]:
print(total_crime)

346272.0

In [6]:
total_population = crime_pop_df['Pop_2010'].sum()

In [7]:
print(total_population)

2695598

In [8]:
avg_crime_per_person = total_crime/total_population

In [9]:
print(avg_crime_per_person)

0.1284583235334052

In [10]:
group_data = crime_pop_df.groupby(['Side'])[['Pop_2010','Crimes_Reported']].sum()

In [11]:
data_df = pd.DataFrame(group_data)

In [12]:
data_df

               Pop_2010  Crimes_Reported
Side
Central          101874          13593.0
Far North        440948          30349.0
Far Southeast    210981          40956.0
Far Southwest    177988          24053.0
North            302404          27229.0
North West       276594          22422.0
South            257920          50276.0
Southwest        318307          46115.0
West             481491          91279.0

In [13]:
data_df['Expected_Crime'] = data_df['Pop_2010'] * avg_crime_per_person

In [14]:
data_df

               Pop_2010  Crimes_Reported  Expected_Crime
Side
Central          101874          13593.0    13086.563252
Far North        440948          30349.0    56643.440845
Far Southeast    210981          40956.0    27102.265557
Far Southwest    177988          24053.0    22864.040089
North            302404          27229.0    38846.310870
North West       276594          22422.0    35530.801539
South            257920          50276.0    33131.970806
Southwest        318307          46115.0    40889.183589
West             481491          91279.0    61851.526656

In [15]:
data_df.apply(np.round)

               Pop_2010  Crimes_Reported  Expected_Crime
Side
Central          101874          13593.0         13087.0
Far North        440948          30349.0         56643.0
Far Southeast    210981          40956.0         27102.0
Far Southwest    177988          24053.0         22864.0
North            302404          27229.0         38846.0
North West       276594          22422.0         35531.0
South            257920          50276.0         33132.0
Southwest        318307          46115.0         40889.0
West             481491          91279.0         61852.0

In [16]:
ttest_ind(data_df['Crimes_Reported'], data_df['Expected_Crime'])

Ttest_indResult(statistic=0.1958433961703144, pvalue=0.8471983895523071)